/* *[ Index page style ]* */

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* :root {
  --dark-color: #212121;
  --body-color: #757575;
  --icon-color: #afb1b8;
  --link-color: #2196f3;
  --light-color: #ffffff;
  --footer-bgcolor: #2f303a;
  --bkg-lite-color: #f5f4fa;
  --bkg-card-color: rgba(47, 48, 58, 0.8);
  --box-shadow-dark: rgba(0, 0, 0, 0.15);
} */

/* img {
	display: block;
	width: 100%;
	height: auto;
	clear: left;
} */

/* *[ Modal window style ]* */

/* .btn-close-modal > svg {
	display: flex;
	justify-items: center;
	align-content: center;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
} */

.modal > h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

form {
  box-shadow: none;
}

.form:first-child {
  position: relative;
  margin-top: 12px;
  background-color: var(--light-color);
}

.form:not(:first-child) {
  position: relative;
  margin-top: 10px;
  background-color: var(--light-color);
}

.form > label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  background-color: var(--light-color);
  color: var(--body-color);
}

.form > svg {
  position: absolute;
  top: 29px;
  left: 15px;
  fill: var(--dark-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form > input:focus-within + svg {
  fill: var(--link-color);
}

.form > input {
  margin-top: 4px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--light-color);
}

.form input:hover,
.form input:hover + svg,
.form textarea:hover {
  border-color: var(--link-color);
  fill: var(--link-color);
  --dark-color: var(--link-color);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form > input:focus-within + svg,
.form > input:focus {
  outline-color: var(--link-color);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --dark-color: var(--link-color);
  fill: var(--link-color);
}

/* .input:hover,
svg:hover,
.input:focus,
svg:focus,
.input:active {
	--dark-color: var(--link-color);
} */

.form > textarea {
  resize: none;
  box-sizing: border-box;
  margin-top: 4px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form > textarea::placeholder {
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form > textarea:focus-within {
  outline-color: var(--link-color);
}

.agreement {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 10px;
}

.agreement > label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-color);
  margin-left: 7px;
}

.agreement > label:hover {
  cursor: pointer;
}

.agreement-link {
  margin-left: 3px;
  color: var(--link-color);
}

.agreement > label > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} /* для накладання кастюмного чекбоксу */

.agreement-icon {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url(../images/SVG/uncheckedbox.svg);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement > label > input:checked + .agreement-icon {
  background: var(--link-color) url(../images/SVG/checkedbox.svg);
  background-size: contain;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-submit {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  padding: 10px 55px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-submit:hover {
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* *[ Portfolio page style ]* */
.gallery-section {
  display: flex;
  padding-bottom: 94px;
  padding-top: 94px;
}

.gallery {
  display: flex;
  width: 1176px;
  padding-top: 40px;
}

.btn-gal-group {
  display: flex;
  justify-content: center;
}

.btn {
  background: var(--bkg-lite-color);
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background-color: var(--link-color);
  /* border: 2px solid var(--link-color); */
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--light-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-gallery {
  background: var(--bkg-lite-color);
  border-radius: 4px;
  border: none;
  border-color: var(--bkg-lite-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 4px;
  margin-right: 4px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gal-item {
  width: calc((100% - 30px * 2) / 3);
  margin-bottom: 30px;
}

.gal-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  /* border-radius: 0px 0px 4px 4px; */
}

.card-gallery {
  background: var(--light-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  /* box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12); */
  /* border-radius: 0px 0px 4px 4px; */
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  position: relative;
}

.gal-card-img {
  position: relative;
}

.gal-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-gallery:hover .gal-card-overlay {
  transform: translateX(0);
  opacity: 1;
}

.gal-card-actions {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.card-gallery:hover .gal-card-actions {
  opacity: 1;
}

.gal-card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--light-color);
  position: absolute;
  display: block;
  left: 24px;
  right: 24px;
  top: 63px;
  bottom: 63px;
  width: 322px;
}

.gal-card-info {
  flex-wrap: wrap;
  padding-left: 20px;
}

.card-gallery h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-color);
}

.card-gallery p {
  display: flex;
  margin-top: 30px;
  margin-bottom: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--body-color);
}

.gallery-txt {
  display: flex;
  color: var(--light-color);
}
